<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context  http://www.springframework.org/schema/beans/spring-context.xsd">
<bean id="userConter" class="com.sgb.controller.UserController"></bean>
    <!--扫描注解-->
    <context:component-scan base-package="com.sgb"></context:component-scan>
    <!--排除扫描-->
    <context:component-scan base-package="com.sgb" use-default-filters="false">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <!--包含扫描-->
    <context:component-scan base-package="com.sgb" use-default-filters="false">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
</beans>