<!DOCTYPE html>
<html lang="en" xmlns:th="http://thmealf.org">
<head>
    <meta charset="UTF-8">
  <base th:href="@{/}">
    <title>Title</title>
</head>
<body>
<a th:href="@{/shopping(method=addShoppingHistory,id=0)}">wewe</a>
<a th:href="@{/shopping(method=addShoppingHistory,id=0)}">wew</a>
<a th:href="@{/shopping(method=addShoppingHistory,id=0)}">we</a>
<a th:href="@{/shopping(method=addShoppingHistory,id=0)}">ewe</a>
<a th:href="@{/shopping(method=addShoppingHistory,id=0)}">查看浏览记录</a>
</body>
</html>